* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: #080808;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

::selection {
  color: rgb(245, 177, 50);
  background-color: black;
}

#header {
  width: 100%;
  height: 100vh;
}

.container {
  text-align: center; /* Center the content horizontally */
}

#typing-text {
  margin: 0 auto; /* Center the text horizontally */
  font-size: 24px;
  line-height: 1.5;
}

#typing-text::after {
  content: "|";
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}